# Dependencies
node_modules/
frontend/node_modules/

# Python cache & build
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.venv/
venv/

# React build
frontend/dist/
frontend/build/

# OS files
.DS_Store
Thumbs.db
